<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/328/dating/styles/bootstrap.min.css">
    <title>Interests</title>
</head>
<body>
<nav class="navbar navbar-light bg-light mb-2">
    <a class="navbar-brand" href="./">My Dating Website</a>
</nav>
<div class="container">
    <div class="row">
        <div class="col col-12">
            <h2>Interests</h2>
            <hr>
            <form action="" method="post">
                <fieldset>
                    <legend>In-door Interests</legend>
                    <label>
                        <input type="checkbox" value="tv" name="indoor[]">&nbsp;tv
                    </label>
                    <label>
                        <input type="checkbox" value="movies" name="indoor[]">&nbsp;movies
                    </label>

                    <label>
                        <input type="checkbox" value="cooking" name="indoor[]">&nbsp;cooking
                    </label>

                    <label>
                        <input type="checkbox" value="board_games" name="indoor[]">&nbsp;board games
                    </label><br>
                    <label>
                        <input type="checkbox" value="puzzles" name="indoor[]">&nbsp;puzzles
                    </label>
                    <label>
                        <input type="checkbox" value="reading" name="indoor[]">&nbsp;reading
                    </label>

                    <label>
                        <input type="checkbox" value="playing_cards" name="indoor[]">&nbsp;playing cards
                    </label><br>

                    <label>
                        <input type="checkbox" value="video-games" name="indoor[]">&nbsp;video games
                    </label>
                </fieldset>
                <fieldset>
                    <legend>Out-door Interests</legend>
                    <label>
                        <input type="checkbox" value="hiking" name="outdoor[]">&nbsp;hiking
                    </label>
                    <label>
                        <input type="checkbox" value="biking" name="outdoor[]">&nbsp;biking
                    </label>

                    <label>
                        <input type="checkbox" value="swimming" name="outdoor[]">&nbsp;swimming
                    </label>

                    <label>
                        <input type="checkbox" value="collecting" name="outdoor[]">&nbsp;collecting
                    </label><br>
                    <label>
                        <input type="checkbox" value="walking" name="outdoor[]">&nbsp;walking
                    </label>
                    <label>
                        <input type="checkbox" value="climbing" name="outdoor[]">&nbsp;climbing
                    </label>
                </fieldset>
                <a href="summary" class="btn btn-info">Next ></a>
            </form>
        </div>


    </div>
</div>

</body>
</html>