<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/328/dating/styles/bootstrap.min.css">
    <title>Profile</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light mb-2">
        <a class="navbar-brand" href="./">My Dating Website</a>
    </nav>
    <div class="container border border-info">
        <h1>Profile</h1>
        <hr>
        <div class="m-3">

            <form class="row" action="" method="post">
                <div class="col">
                    <div class="text-danger">
                        <check if="{{ isset(@errors['email']) }}">
                            <p>{{ @errors['email'] }}</p>
                        </check>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label-lg">Email
                            <input class="form-control" size="60" type="email" name="email" id="email" value="{{ @email }}">
                        </label>
                    </div>
                    <div class="text-danger">
                        <check if="{{ isset(@errors['state']) }}">
                            <p>{{ @errors['state'] }}</p>
                        </check>
                    </div>
                    <div class="form-group dropdown">
                        <label class="col-form-label-lg">State<br>
                            <select class="form-control" name="state" id="state">
                                <repeat group="{{ @validStates }}" value="{{ @state }}">
                                    <option value="{{ @state }}">{{ @state }}</option>
                                </repeat>

                            </select>
                        </label>
                    </div>
                    <div class="text-danger">
                        <check if="{{ isset(@errors['seeking']) }}">
                            <p>{{ @errors['seeking'] }}</p>
                        </check>
                    </div>
                    <div class="form-group custom-radio">
                        <label class="col-form-label-lg">Seeking<br>
                            <input type="radio" name="seeking" id="seekingM" value="male"> Male
                            <input class="ml-1" type="radio" name="seeking" id="seekingF" value="female"> Female
                            <input class="ml-1" type="radio" name="seeking" id="seekingB" value="both"> Both
                        </label>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label>Biography<br>
                            <textarea class="form-control" name="biography" id="biography" cols="60" rows="5">

                            </textarea>
                        </label>
                    </div>

                    <input type="submit" class="btn btn-info" value="Next >">

                </div>


            </form>

        </div>
    </div>

</body>
</html>