<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/328/dating/styles/bootstrap.min.css">
    <title>My Dating Website</title>
</head>
<body>
<nav class="navbar navbar-light bg-light mb-2">
    <a class="navbar-brand" href="./">My Dating Website</a>
</nav>
    <div class="container">

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="text-info">
                    <h1 class="text-center">My Dating Website</h1>
                    <div class="text-left">
                        <p>Welcome to the web's most successful dating website. At <span class="font-weight-bold">My Dating Website</span> you'll meet another like
                            minded individuals. We have the highest success rate of couples on the planet. User's are matched by interest,
                            class status, education, and location. Find out why so many others have found love through us!</p>
                    </div>
                        <h2 class="text-center">Hear what our users are saying about us</h2>
                    <hr>
                    </div>
                    <div class="text-center">
                        <div class="blockquote">
                            <blockquote>
                                <p>"I don't see any reason to keep looking after using this site."</p>
                                <div class="blockquote-footer">Hue Man</div>
                            </blockquote>
                        </div>

                        <div class="blockquote">
                            <blockquote>
                                <p>"This site is like Tinder, but with meaning"</p>
                                <div class="blockquote-footer">Amanda Hugenkiss</div>
                            </blockquote>
                        </div>

                        <div class="blockquote">
                            <blockquote>
                                <p>"I'm always on the lookout for another ex-Mrs. Malcolm."</p>
                                <div class="blockquote-footer">Dr. Ian Malcolm</div>
                            </blockquote>
                        </div>

                        <div class="blockquote">
                            <blockquote>
                                <p>"That's what"</p>
                                <div class="blockquote-footer">She</div>
                            </blockquote>
                        </div>
                        <hr>

                    <a href="personal" class="btn btn-success">Create a Profile!</a>
                </div>

            </div>
            <div class="col-sm-12 col-md-6">
                <div class="img-fluid img-thumbnail sm">
                    <img src="/328/dating/images/lowered-expectations.png" alt="lowered expectations logo">
                </div>

            </div>

        </div>
    </div>
</body>
</html>
