<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Dating Website</title>
</head>
<body>
    <h1>My Dating Website</h1>
    <p>Welcome to the web's most successful dating website. At <span>My Dating Website</span> you'll meet another like
    minded individuals. We have the highest success rate of couples on the planet. User's are matched by interest,
    class status, education, and location. Find out why so many others have found love through us!</p>

    <h2>Hear what our users are saying about us</h2>
    <blockquote></blockquote>
</body>
</html>
