<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Dating Website</title>
</head>
<body>
<img src="/328/dating/images/lowered-expectations.png" alt="lowered expectations logo">
    <h1>My Dating Website</h1>
    <p>Welcome to the web's most successful dating website. At <span>My Dating Website</span> you'll meet another like
    minded individuals. We have the highest success rate of couples on the planet. User's are matched by interest,
    class status, education, and location. Find out why so many others have found love through us!</p>

    <h2>Hear what our users are saying about us</h2>
    <blockquote>
        <p>"I don't see any reason to keep looking after using this site."</p>
        <footer>Hue Man</footer>
    </blockquote>

    <blockquote>
    <p>"This site is like Tinder, but with meaning"</p>
    <footer>Amanda Hugenkiss</footer>
    </blockquote>

    <blockquote>
    <p>"I'm always on the lookout for another ex-Mrs. Malcolm."</p>
    <footer>Dr. Ian Malcolm</footer>
    </blockquote>

    <blockquote>
    <p>"That's what"</p>
    <footer>She</footer>
    </blockquote>

<button class="btn btn-success">Create a Profile!</button>
</body>
</html>
